:root{
    --yellow-color: #FFEB3B;

}

*{
margin: 0;
padding: 0;
box-sizing: border-box;
}

html,
body{
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    font-weight: 300;
    text-rendering: optimizeLegibility;
    background-color: #ffffff;
    color: #000;
    overflow-x: hidden;
}

header,section,footer,nav {display: block;}

/*------- reuseable code */
h1,h2,h3,h4,h5,h6 { 
    margin: 0;
color: #487eb0;
}


section{
    padding: 80px 0;
}

.row {
    width: 1140px;
    margin: 0 auto;
}

.clearfix{
    display: table;
    content: " ";
    clear: both;
    height: 0;
    visibility: hidden;
}
/*--------- header----------- */

header{
    background: url(../image/b2.jpg) no-repeat center top;
    background-attachment: fixed;
    background-size: cover;
    position: relative;
    overflow: hidden;
    min-height: 100vh;
}


/* --------nav---------- */
.nav-banner{
background-image: -webkit-linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4));
background-image: -o-linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4));
background-image: -moz-linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4));
 position: fixed;
 top: 0;
 left: 0;
 width: 100vw;
 /* display: block; */
 height: 80px;
 z-index: 9999;
  }

.main-nav{
    list-style: none;
    font-size: 80%;
    font-weight: 500;
    margin: 30px 0;
    text-align: center;
}

.main-nav li{
    display: inline-block;
    margin-left: 35px;
    
}

.main-nav li a:link,
.main-nav li a:visited{
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    cursor: pointer;
   
}

.main-nav li.active a{
    color: var(--yellow-color);
}

/* --------nav hover------------ */
.link-effect a{
position: relative;
padding: 10px 0;
/* color: #797878; */
font-family: inherit;
}

.link-effect a::before{
    position: absolute;
    padding: 10px 0;
    top: 0;
    left: 0;
    max-width: 0;
    color: #fff06e;
    content: attr(data-hover);
    transition: max-width 0.5s;
    -webkit-transition: max-width 0.5s;
    -moz-transition: max-width 0.5s;
    -ms-transition: max-width 0.5s;
    -o-transition: max-width 0.5s;
    overflow: hidden;
   
}

.link-effect a:hover::before{
    max-width: 100%;
}





/* ---------logo--------- */
.logo{
    text-align: center;
    top: 80px;
    position: relative;
  
}
.logo span{
    display: block;
    color: var(--yellow-color);
    font-size: 200%;
}

.logo h1{
    color: #fff;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 6px;
}

/* -----------banner content-------- */
.banner-content{
    position: absolute;
    width: 1140px;
    top: 65%;
    left: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
}

.banner-content h1{
    color: var(--yellow-color);
    font-weight: 600;
    font-size: 250%;
    margin-bottom: 5px;
}

.banner-content p{
    color: #fff;
    font-size: 17px;
    font-weight: normal;
    letter-spacing: 1px;
}

/* ---------button--------- */
.btn{
    border: 2px solid var(--yellow-color);
    display: inline-block;
    font-size: 15px;
    text-align: center;
    padding: 10px 10px;
    margin-top: 10px;
    font-weight: 550;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
    background-color: rgba(0, 0, 0, 0.0);
    cursor: pointer;
    transition: background-color 2s ease-out;
    -webkit-transition: background-color 2s ease-out;
    -moz-transition: background-color 2s ease-out;
    -ms-transition: background-color 2s ease-out;
    -o-transition: background-color 2s ease-out;
    color: rgb(255, 255, 255);
}

.button a{
    text-decoration: none;
    text-transform: uppercase;
}
.btn:hover{
    color: #fff5a1;
    background-color: rgba(0, 0, 0, 0.3);
    border: 2px solid #fff06e;
    transform: scale(1);
}

/* -------about----------- */
.about-header{
    text-align: center;
}

.subtitle{
    margin: 0 0 2em 0;
    line-height: 0.5;
    color: #636e72;
    font-style: italic;
    font-size: 14px;
    word-spacing: 4px;
}

.cross span{
    position: relative;
    display: inline-block;
}

.cross span::before,
.cross span::after{
    content: " ";
    position: absolute;
    height: 5px;
    border-bottom: 2px solid #636e72;
    border-top: 1px solid #636e72;
    top: 0;
    width: 100px;
    
}

.cross span::before{
    right: 100%;
    margin-right: 15px;
}

.cross span::after{
    left: 100%;
    margin-left: 15px;
}

.text, .about-list li a {
    font-size: 80%;
    line-height: 145%;
    word-spacing: 5px;
    margin-bottom: 1rem;
    /* letter-spacing: 0.7px; */
}

.button .about-btn{
    color: #487eb0;
    border: 2px solid #487eb0;
   
}

.about-list li{
    list-style: none;
    margin: 10px 0;
    display: block;
}

.about-list li i{
    margin-right: 10px;
   color:#487eb0;
}

.about-list li a{
  text-decoration: none;  
  color: #000;
}


/* -------SERVICE ----------- */
.service{
    background-color: #f4f4f4;
}