:root{
    --yellow-color: #FFEB3B;

}

*{
margin: 0;
padding: 0;
box-sizing: border-box;
}

html,
body{
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    font-weight: 300;
    text-rendering: optimizeLegibility;
    background-color: #ffffff;
    color: #000;
    overflow-x: hidden;
}

header,section,footer,nav {display: block;}

/*------- reuseable code */
h1,h2,h3,h4,h5,h6 { 
    margin: 0;
color: #487eb0;
}


section{
    padding: 80px 0;
}

.row {
    width: 1140px;
    margin: 0 auto;
}

.clearfix{
    display: table;
    content: " ";
    clear: both;
    height: 0;
    visibility: hidden;
}
/*--------- header----------- */

header{
    /* background: url(../image/b2.jpg) no-repeat center top; */

    background-image: -webkit-linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url(../image/b2.jpg);
    background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url(../image/b2.jpg);
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    /* position: relative; */
    overflow: hidden;
    min-height: 100vh;
}


/* --------nav---------- */
.nav-banner{
background-image: -webkit-linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4));
background-image: -o-linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4));
background-image: -moz-linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4));
 position: fixed;
 top: 0;
 left: 0;
 width: 100vw;
 /* display: block; */
 height: 80px;
 z-index: 9999;
  }

.main-nav{
    list-style: none;
    font-size: 80%;
    font-weight: 500;
    margin: 30px 0;
    text-align: right;
    /* border:2px solid #487eb0; */
    /* width: 60%; */
    float: right;
}

.main-nav li{
    display: inline-block;
    margin-left: 35px;
    
}
.main-nav li:nth-child(1){
    margin-left: 0px;    
}
.main-nav li a:link,
.main-nav li a:visited{
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    cursor: pointer;
   
}

.main-nav li.active a{
    color: var(--yellow-color);
}

/* --------nav hover------------ */
.link-effect a{
position: relative;
padding: 10px 0;
/* color: #797878; */
font-family: inherit;
}

.link-effect a::before{
    position: absolute;
    padding: 10px 0;
    top: 0;
    left: 0;
    max-width: 0;
    color: #fff06e;
    content: attr(data-hover);
    transition: max-width 0.5s;
    -webkit-transition: max-width 0.5s;
    -moz-transition: max-width 0.5s;
    -ms-transition: max-width 0.5s;
    -o-transition: max-width 0.5s;
    overflow: hidden;
   
}

.link-effect a:hover::before{
    max-width: 100%;
}





/* ---------logo--------- */
.logo{
    /* text-align: left; */
    top: 0;
    margin: -10px 0;
    /* position: relative; */
    float: left;
  /* width: 100px; */
  /* border:2px solid #487eb0; */
}
.logo span{
    display: inline;
    color: var(--yellow-color);
    font-size: 100%;
}

.logo h1{
    color: #fff;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 6px;
}

/* -----------banner content-------- */
.banner-content{
    position: absolute;
    width: 1140px;
    top: 65%;
    left: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
}

.banner-content h1{
    color: var(--yellow-color);
    font-weight: 600;
    font-size: 250%;
    margin-bottom: 5px;
}

.banner-content p{
    color: #fff;
    font-size: 17px;
    font-weight: normal;
    letter-spacing: 1px;
}

/* ---------button--------- */
.btn{
    border: 2px solid var(--yellow-color);
    display: inline-block;
    font-size: 15px;
    text-align: center;
    padding: 10px 10px;
    margin-top: 10px;
    font-weight: 550;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
    background-color: rgba(0, 0, 0, 0.0);
    cursor: pointer;
    transition: background-color 2s ease-out;
    -webkit-transition: background-color 2s ease-out;
    -moz-transition: background-color 2s ease-out;
    -ms-transition: background-color 2s ease-out;
    -o-transition: background-color 2s ease-out;
    color: rgb(255, 255, 255);
}

.button a{
    text-decoration: none;
    text-transform: uppercase;
}
.btn:hover{
    color: #fff5a1;
    background-color: rgba(0, 0, 0, 0.3);
    border: 2px solid #fff06e;
    transform: scale(1);
}

/* -------about----------- */
.about-header{
    text-align: center;
}

.subtitle{
    margin: 0 0 2em 0;
    line-height: 0.5;
    color: #636e72;
    font-style: italic;
    font-size: 14px;
    word-spacing: 4px;
}

.cross span{
    position: relative;
    display: inline-block;
}

.cross span::before,
.cross span::after{
    content: " ";
    position: absolute;
    height: 5px;
    border-bottom: 2px solid #636e72;
    border-top: 1px solid #636e72;
    top: 0;
    width: 100px;
    
}

.cross span::before{
    right: 100%;
    margin-right: 15px;
}

.cross span::after{
    left: 100%;
    margin-left: 15px;
}

.text, .about-list li a {
    font-size: 80%;
    line-height: 145%;
    word-spacing: 5px;
    margin-bottom: 1rem;
    /* letter-spacing: 0.7px; */
}

.button .about-btn{
    color: #487eb0;
    border: 2px solid #487eb0;
   
}

.about-list li{
    list-style: none;
    margin: 10px 0;
    display: block;
}

.about-list li i{
    margin-right: 10px;
   color:#487eb0;
}

.about-list li a{
  text-decoration: none;  
  color: #000;
}


/* -------SERVICE ----------- */
.service{
    background-color: #f4f4f4;
}

.span-1-of-3:nth-child(4){
    margin-left: 0;
}

.service-part{
    width: 100%;
    height: auto;
}

.service-part .part-one{
    width: 32%;
    display: block;
    float: left;
    /* clear: right; */
    height: 300px ;
    position: relative;
    border: 1px solid #487eb0;
}

.part-one img{
    width: 100%;
    height: 100%;
}

.part-one:nth-child(3),
.part-one:nth-child(5){
    padding-left: 5px;
}

.service-part .no-border{
    border: 1px solid transparent;
}


/* ----------------package------------- */
.package-list{
    width: 90%;
    height: 410px;
    border: 1px solid #f1f3f3;
    box-shadow: 2px 2px 2px #f1f3f3;
    /*float: left;
    */margin-left: 5%;
    /* padding: 14px; */
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}

/* .row .package-list:first-child{
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
} */

.package-list div{
    width: 100%;
    /* height: 70px; */
    padding: 15px;
    border-bottom: 1px dashed #636e72;
}

.package-list div:last-child{
text-align: center;
    border-bottom: 1px dashed transparent;
}


.price{
    color: var(--yellow-color);
    font-size: 200%;
    font-weight: normal;
    /* border-bottom: 3px dotted var(--yellow-color); */
    /* height: 70px;
    width: 100%; */
}
.price span{
    font-size: 50%;
}

.package-list ul{
    list-style: none;

}

.package-list ul li{
    margin: 10px 0;
}
.package-list ul li i{
    margin-right: 7px;
   color: var(--yellow-color);
}

/* -----------gallery------------- */
.gallery{
    background-color: #f4f4f4;
    /* position: relative; */
    width: 100%;
height: 100%;
overflow: hidden;


}

.gallery-box{
   height: auto;
   padding: 0px;
    margin: 0px;
    position: relative;
}
.gallery-box2{
width: 100%;
}
.gallery-box ul{
    list-style: none;
    width: 100%;
    /* border: 3px dashed #636e72; */
    
}

.gallery-box ul li{
    width: 25%;
    height: 200px;
    /* display: block; */
    /* border: 3px dashed #636e72; */
    /* float: left; */
    
   
}

.gallery-box .col-gal{
    display: block;
    float: left;
    
}

.gallery-box li img{
    margin: 0;
    width: 100%;
    height: 200px;
    float: left;
    overflow: hidden;
    transform: scale(1) ;
    -webkit-transform: scale(1) ;
    -moz-transform: scale(1) ;
    -ms-transform: scale(1) ;
    -o-transform: scale(1) ;
    transition: transform 2s ;
    -webkit-transition: transform 2s ;
    -moz-transition: transform 2s ;
    -ms-transition: transform 2s ;
    -o-transition: transform 2s ;
}
   
   .gallery-box li img:hover{
    opacity: 1;
    transform: scale(0.81);
    -webkit-transform: scale(0.81);
    -moz-transform: scale(0.81);
    -ms-transform: scale(0.81);
    -o-transform: scale(0.81);
}


/* ------------client----------- */

.clients{
    background-image: linear-gradient(rgba(0,0,0,0.8),rgba(0,0,0,0.8)),url(../image/s3.jpg);
    background-image:  -webkit-linear-gradient(rgba(0,0,0,0.8),rgba(0,0,0,0.8)),url(../image/s3.jpg);
   
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

blockquote{
    padding: 2px;
    color: #f1f3f3;
    /* font-size: 100%; */
    font-style: italic;
    position: relative;
    line-height: 145%;
    margin-top: 40px;
}

blockquote::before{
content: "\201C ";
font-size: 500%;
display: block;
position: absolute;
top: -5px;
left: -5px;
}

cite{
    font-size: 90%;
    display: block;
    margin-top: 25px;
}

cite img{
    height: 60px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    vertical-align: middle;
    margin-right: 10px;
}

.wColor{
    color: #f1f3f3;
}

/* -----------contact----------- */
.contact{
    background-image: -moz-linear-gradient(rgba(0,0,0,0.0),rgba(0,0,0,0.0)), url(../image/cc1.jpg);

    background-image: linear-gradient(rgba(0,0,0,0.0),rgba(0,0,0,0.0)), url(../image/cc1.jpg);

    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.contact-container{
    width: 100%;
    display: block;
    /* position: relative; */
}

input[type="text"],
textarea{
    width: 100%;
    border: 0;
    padding: 5px 0 0 10px;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
    background-color: #f1f3f3;
}

textarea{
overflow: auto;
resize: none;
/* margin-top: 50px; */

}

input[type="text"]{
    height: 40px;
}

input[type="submit"]{
    width: 100px;
}

.mar-top{
    margin-top: 40px;
   
}


/* ------------footer---------- */
.footer-section{

}

footer{
    background: #2f2f2f;
    padding: 15px 0 15px 0;
}

footer p{
    color: #f4f4f4;
    font-size: 70%;
    letter-spacing: 2.5px;
    font-weight: 450;
}

footer p a{
    color: #f4f4f4;
}

.footer-cont{
    text-align: center;

}